<%include ../partials/header%>
	<h1 class="text-center">Add new comment to
		<%= campground.name %>
	</h1>

	<section class="container-fluid py-4">
		<div class="row justify-content-center">
			<div class="col-12 col-md-8">

				<form action="/campgrounds/<%=campground.id%>/comments" method="post" class="my-2">
					<div class="form-row">
						<div class="col-12">
							<div class="form-group">
								<label for="text">Text:</label>
								<textarea class="form-control" id="text" rows="6" name="comment[text]" placeholder="Comment"></textarea>
							</div>
						</div>
					</div>
					<button type="submit" class="btn btn-primary btn-lg btn-block">Save comment</button>
				</form>
				<a href="/campgrounds/<%=campground.id%>" class="btn btn-primary btn-lg btn-block">Go Back</a>

			</div>
		</div>
	</section>
	<%include ../partials/footer%>