<%include partials/header%>

<section id="landing-header" class="container pt-5 pt-md-0 text-center">
<h1 class="text-dark">Welcome to YelpCamp!</h1>
<a href="/campgrounds" id="landing-button" class="btn btn-dark align-middle p-3 rounded-0 text-center" role="button"><i class="fas fa-hiking mr-2"></i>Come with us</a>
</section>

<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://images.unsplash.com/photo-1573146043078-9fe64b4caae9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="d-block w-100" alt="campground slide 1">
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1573145940530-961921371f8a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="d-block w-100" alt="campground slide 2">
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1573145881456-0708c72340ca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="d-block w-100" alt="campground slide 3">
    </div>
  </div>
</div>

<%include partials/footer%>